/*
#background {
  background-image: url('forest.png');
  background-repeat: repeat-x;
  width: 100%; wahrscheinlich weglassen, da in JS definiert
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /*background layer
} */